.experienceContainer {
  border-left: 2px solid rgba(10, 161, 218, 0.4);
  position: relative;
}

.experienceContainer:before {
  --size: 38px;
  content: '';
  position: absolute;
  width: var(--size);
  height: var(--size);
  top: -11px;
  left: -20px;
  border-radius: 100%;
  background-color: var(--primary);
  opacity: 0.5;
}
.experienceContainer:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: -9px;
  border-radius: 100%;
  background-color: var(--primary);
}

.experienceContainer > div {
  transform: translateY(-1px);
}

@media screen and (max-width: 767px) {
  .experienceContainer:before {
    --size: 32px;
    top: -9px;
    left: -17px;
  }
  .experienceContainer:after {
    width: 14px;
    height: 14px;
    top: 0;
    left: -8px;
  }
}
