.progressRadial {
  position: relative;
  border: var(--radialBorder) solid #eee;
  font-size: 0.875rem;
}

.progressRadial > .radial {
  position: absolute;
  top: calc(var(--radialBorder) * -1);
  left: calc(var(--radialBorder) * -1);
  border: var(--radialBorder) solid var(--primary);
  clip-path: inset(0px 0px 0px calc(var(--radialSize) / 2));
}

.radial {
  width: var(--radialSize);
  height: var(--radialSize);
  border-radius: 100%;
}

@media screen and (max-width: 1024px) {
  .progressRadial {
    font-size: 0.75rem;
  }
}
